:root {
    --main-color: #2C3E50;
    --second-color: #E67E22;
    /* sizes */
    --size-xxs: 0.5rem;
    --size-xs: 0.75rem;
    --size-sm: 0.875rem;
    --size-base: 1rem;
    --size-lg: 1.125rem;
    --size-xl: 1.25rem;
    --size-2xl: 1.5rem;
    --size-3xl: 1.875rem;
    --size-4xl: 2.25rem;
    --size-5xl: 3rem;
    --size-6xl: 3.75rem;
    --size-7xl: 4.5rem;
    --size-8xl: 6rem;
    --size-9xl: 8rem;
    --size-10xl: 10rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

body {
    background-color: #EBE9E9;
}
header {
   background-color: var(--main-color);
}
header .container {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    max-width: 960px;
   
}
.logo {
    width:10%;
}
.search-bar {
    display: flex;
    justify-content: center;
    width: 80%;
    padding: 5px;
    border-radius: 5px;
    overflow: hidden;
  }
  .dropdown {
    background-color: var(--second-color); 
    border: none;
    color: white;
    padding: 10px 15px;
    font-size: var(--size-sm);
    cursor: pointer;
    border-radius: 5px 0 0 5px;
  }
  
  .dropdown span {
    font-size: var(--size-xs);
    margin-left: 5px;
  }
  .search-bar input[type="text"] {
    width: 50%;
    border: none;
    padding: 10px;
    font-size: var(--size-sm);
    outline: none;
  }
  .search-btn {
    background-color: var(--second-color); 
    border: none;
  
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
  }
  .search-btn img {
    width: var(--size-xl);
    margin-bottom: 5px;
  }
  .user-cart-container{
    display: flex;
    padding: 5px;
    gap: 10px;
  }
  .user{
    height: 41px;
    width: 41px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:50%;
    float: right;
    border :none;
  }
  .user img{
    width: var(--size-xl) ;
  }
  .cart{
    height: 41px;
    width: 41px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:50%;
    float: right;
    border :none;
  }
  .cart img{
    width: var(--size-xl) ;
  }
  .navbar{
    padding: 0;
  }
.navbar-collapse{
  flex-grow: 0;
}